@import './../../style/default.less';

.home-wrap {
    background-color: @colorM;
    height          : calc(62vh);
    display         : flex;
    align-items     : center;
    justify-content : center;
    flex-direction  : column;
    font-size       : 20px;
    width           : 100%;
}